doctype html
html(lang="en")
	head
		title= title

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width', initial-scale='1.0')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')

	body
		include ./nav.jade
		#content
			block content
		include ./footer.jade
