nav
    ul.navbar
        li#navbar-title.navbar-item
            a(href="/" class="nav-link") Visualcosita
        ul.navbar-item.navbar-right
            li.navbar-item
                a(href="/es" class="nav-link")
                    img(src="/img/spanish.png")
            li.navbar-item
                a(href="/en" class="nav-link")
                    img(src="/img/english.png")
