nav
    ul.navbar
        li.navbar-item
            a(href="/" id="navbar-title" class="nav-link") Visualcosita
        li.navbar-item.u-pull-right
            ul.navbar-container
                li.navbar-item
                    a(href="https://twitter.com/fdoxyz" class="nav-link")
                        img(src="/img/twitter.png")
                li.navbar-item
                    a(href="https://github.com/fdoxyz" class="nav-link")
                        img(src="/img/github.png")
                li.navbar-item
                    a(href="/rss.xml" class="nav-link")
                        img(src="/img/rss.png")
                li.navbar-item 
                    - var language = (lang !== undefined) ? lang : "en"
                    if language === "en"
                        a(href="/es" class="nav-link") ES
                    else
                        a(href="/" class="nav-link") EN
