nav
    ul.navbar
        li.navbar-item
            a(href="/" id="navbar-title" class="nav-link") Visualcosita
        li.navbar-item.u-pull-right
            ul.navbar-container
                li.navbar-item
                    a(href="https://twitter.com/fdoxyz" class="nav-link")
                        img(src="/img/twitter.png")
                li.navbar-item
                    a(href="https://github.com/fdoxyz" class="nav-link")
                        img(src="/img/github.png")
                li.navbar-item
                    a(href="/rss.xml" class="nav-link")
                        img(src="/img/rss.png")
                li.navbar-item 
                    - var langString = ((lang !== undefined) && (lang === "en")) ? "ES" : "EN"
                    - var translatedUrl = ((lang !== undefined)  && (lang === "en")) ? translationPath.es : translationPath.en
                    a(href="#{translatedUrl}" class="nav-link" id="langToggler") #{langString}
                    
                    
                    
