extends ./partials/layout

block content
    ul.article-list
        each post in collections.posts
            li
                div.article
                    h2.article-title
                        - var link = "/" + post.path
                        a(href="#{link}") #{post.title}
                    div.article-date #{moment(post.date).format("MMMM Do YYYY")}
                    div.article-teaser!= post.excerpt
