/* Colors
background: 333
text-white: efefef
link-green: 99ff63
active-green: 4d7227
selection: ff207d
 */

body {
    background-color: #333;
    color: #efefef;
    font-family: 'Ubuntu Mono', serif;
}

nav {
    margin-bottom: 30px;
}

ul.navbar-container {
    list-style-type: none;
    margin-top: 7px;
    margin-left: 0;
}

#navbar-title {
    font-size: 20px;
    /*text-shadow: 3px 3px 2px #888*/
}

.nav-link {
    /*font-family: 'Ubuntu Mono', serif;
    /*color: #FEFEFE;*/
    text-decoration: none;
    font-size: 18px;
}

li.navbar-item {
    margin: 0;
    display: inline;
}

.navbar-container {
    margin-top: 0;
    height: 45px;
}

.navbar-container > li.navbar-item {
    margin-left: 15px;
}

#langToggler {
    position: relative;
    bottom: 3px;
}

strong {
    font-weight: 700;
}

a {
    color: #99ff63;
    /*font-weight: 600;*/
    text-decoration: none;
}

a:hover {
    color: #4d7227;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.read-more {
    color: #ff207d;
}

.read-more:hover {
    color: #641a2c;
}

.article {
    margin-top: 12px;
}

.article-teaser {
    margin-top: 5px;
}

ul.article-list {
    list-style-type: none;
    margin-top: 45px;
}

.article-title {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 7px 0;
}

.article-date {
    /*font-family: 'Ubuntu Mono', serif;*/
    font-size: 15px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 2rem
}

code {
    overflow-x: auto;
    background-color: inherit;
    font-size: 12px;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

p > img {
    margin-top: 10px;
}

::selection {
    color: #fff;
    background: #ff207d; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: #fff;
    background: #ff207d; /* Gecko Browsers */
}

@media (min-width: 400px) {
    #navbar-title {
        font-size: 32px;
    }

    ul.navbar-container {
        margin-top: 5px;
    }

    li.navbar-item {
        margin-top: 7px;
    }

    .article-teaser {
        margin-top: 5px;
    }
}

@media (min-width: 700px) {
    nav {
        height: 50px;
    }

    .navbar-container > li.navbar-item {
        margin-left: 25px;
    }

    li.navbar-item {
        margin-top: 15px;
    }

    .article-teaser {
        margin-top: 25px;
    }

    .article-title {
        font-size: 25px;
    }

    .article-date {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .article {
        margin-top: 77px;
    }

    #navbar-title {
        font-size: 45px;
        padding-top: 50px;
    }

    p {
        font-size: 18px;
    }

    code {
        font-size: 13px;
    }
}
