/* Main color: c1ee5f / #D0F287 */

nav {
    padding: 5px 25px;
    background-color: #c1ee5f; /* rgba(193, 238, 95, 0.75); */
    box-shadow: 0 2px 5px #888888;
    margin-bottom: 30px;
}

ul.navbar {
    margin: 0;
}

ul.navbar-container {
    list-style-type: none;
    margin-top: 7px;
    margin-left: 0;
}

#navbar-title {
    font-size: 20px;
    text-shadow: 1px 1px 1px #999;
}

.nav-link, .nav-link:hover {
    font-family: 'Ubuntu Mono', serif;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

li.navbar-item {
    margin: 0;
    display: inline;
}

.navbar-container > li.navbar-item {
    margin-left: 15px;
}

#langToggler {
    position: relative;
    bottom: 3px;
}

a {
    color: #c1ee5f;
    text-decoration: none;
}

a:hover {
    color: #9dd72a;
    text-decoration: none;
}

ul.article-list {
    list-style-type: none;
}

.article-title {
    font-size: 42px;
    letter-spacing: 1px;
    margin: 0;
}

.article-date {
    font-family: 'Ubuntu Mono', serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
}

@media (min-width: 400px) {
    #navbar-title {
        font-size: 30px;
    }

    ul.navbar-container {
        margin-top: 15px;
    }
}

@media (min-width: 750px) {
    nav {
        height: 50px;
    }

    .navbar-container > li.navbar-item {
        margin-left: 25px;
    }

    .article-title {
        font-size: 55px;
    }

    .article-date {
        font-size: 18px;
    }

    #navbar-title {
        font-size: 35px;
    }
}
